<div class="container">

  <div class="row">
    <div class="col-xs-8">
        <%= image_tag attachment_url(@postcard, :photo), class: 'img-responsive' %>
    </div>

    <div class="col-xs-4">
      <h1><%= @postcard.location %></h1>
      <%= simple_format @postcard.message %>
    </div>

  </div>




</div>
