.header-right {
  text-align: right;
  a {
    margin-left: 2em;
  }
}

.flashes {
  .alert {
    text-align: center;
  }
}

header {
  background: #2ECC71;
  padding: 15px;
}

#mapid { height: 600px}
